<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<!-- homev206:52-->
<head>
    <title>{% block head_title %}{% endblock %}</title>
    {% load static %}
	<!-- Basic need -->
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
    <link rel="stylesheet" href="{% static 'css/seasons.css' %}">
	<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="D://Programming/Templates/ontopplayer/content-css.css">
</head>

<body>
    {% include 'navbar.html' %}
    {% block content %}

    {% endblock %}

    {% block extra_body %}

    {% endblock %}
    {% include 'footer.html' %}


    <!-- Vendor JS Files -->
    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="{% static 'js/plugins.js'%}"></script>
    <script src="{% static 'js/plugins2.js'%}"></script>
    <script src="{% static 'js/custom.js'%}"></script>
    <script src="{% static 'js/myjs.js'%}"></script>
    <script>
        $(document).ready(function() {
            $('.add-to-favorite').click(function(e) {
                e.preventDefault();

                var movieId = $(this).data('movie-id');
                var button = $(this);

                $.ajax({
                    type: 'POST',
                    url: '/profile/add-to-favorite/',
                    data: {
                        'movie_id': movieId,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success: function(response) {
                        if (response.added) {
                            button.html('<i class="ion-checkmark"></i> Added to Favorite');
                        } else {
                            button.html('<i class="ion-heart"></i> Add to Favorite');
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
</body>
</html>