  <!-- ======= Header ======= -->
  {% load static %}
      <!--preloading-->
    <div id="preloader">
        <img class="logo" src="{% static 'images/logo-no-background.png' %}" alt="" width="500" height="95">
        <div id="status">
            <span></span>
            <span></span>
        </div>
    </div>
    <!--end of preloading-->
    <!--login form popup-->
    <div class="login-wrapper" id="login-content">
        <div class="login-content">
            <a href="#" class="close">x</a>
            <h3>Login</h3>
            <form method="post" action="{% url 'custom_account_login' %}?next={{ request.path }}">
                {% csrf_token %}
                <div class="row">
                     <label for="username">
                        Username:
                        <input type="text" name="username" id="username" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{3,20}$" required="required" />
                    </label>
                </div>

                <div class="row">
                    <label for="password">
                        Password:
                        <input type="password" name="password" id="password" placeholder="******" required="required" />
                    </label>
                </div>
                <div class="row">
                    <div class="remember">
                        <div>
                            <input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
                        </div>
                        <a href="{% url 'account_reset_password' %}">Forget password ?</a>
                    </div>
                </div>
               <div class="row">
                 <button type="submit">Login</button>
               </div>
            </form>
            {% comment %}
            <div class="row">
                <p>Or via social</p>
                <div class="social-btn-2">
                    <a class="fb" href=""><i class="ion-social-google"></i>Google</a>
                    <a class="fb" href=""><i class="ion-social-facebook"></i>Facebook</a>
                    <a class="tw" href=""><i class="ion-social-twitter"></i>twitter</a>
                </div>
            </div>
            {% endcomment %}
        </div>
    </div>
    <!--end of login form popup-->
    <!--signup form popup-->
    <div class="login-wrapper"  id="signup-content">
        <div class="login-content">
            <a href="#" class="close">x</a>
            <h3>sign up</h3>
            <form method="post" action="#">
                <div class="row">
                     <label for="username-2">
                        Username:
                        <input type="text" name="username" id="username-2" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                    </label>
                </div>
                <div class="row">
                    <label for="email-2">
                        your email:
                        <input type="password" name="email" id="email-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
                 <div class="row">
                    <label for="password-2">
                        Password:
                        <input type="password" name="password" id="password-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
                 <div class="row">
                    <label for="repassword-2">
                        re-type Password:
                        <input type="password" name="password" id="repassword-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
               <div class="row">
                 <button type="submit">sign up</button>
               </div>
            </form>
        </div>
    </div>
    <!--end of signup form popup-->
    <!-- BEGIN | Header -->
    <header class="ht-header full-width-hd">
            <div class="row">
                <nav id="mainNav" class="navbar navbar-default navbar-custom">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header logo">
                        <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <div id="nav-icon1">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <a href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo-no-background.png' %}"
                                                        alt="" width="150" height="72"></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav flex-child-menu menu-left">
                            <li class="hidden">
                                <a href="#page-top"></a>
                            </li>
                            <li class="dropdown first">
                                <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                                TV-Series <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu level1">
                                    <li><a href="{% url 'tvseries_list' %}">All TV-Series</a></li>
                                    <li><a href="{% url 'tvseries_list' %}?origin=TJ">Tajik TV-Series</a></li>
                                    <li><a href="{% url 'tvseries_list' %}?origin=TR">Turkish TV-Series</a></li>
                                    <li><a href="{% url 'tvseries_list' %}?origin=RU">Russian TV-Series</a></li>
                                    <li><a href="{% url 'tvseries_list' %}?origin=US">English TV-Series</a></li>
                                </ul>
                            </li>
                            <li class="dropdown first">
                                <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                                movies<i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu level1">
                                    <!-- <li class="dropdown">
                                        <a href="#">about us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                        <ul class="dropdown-menu level2">
                                            <li><a href="aboutv1.html">About Us 01</a></li>
                                            <li><a href="aboutv2.html">About Us 02</a></li>
                                        </ul>
                                    </li> -->
                                    <li><a href="{% url 'movie_list' %}">All Movies</a></li>
                                    <li><a href="{% url 'movie_list' %}?origin=TJ">Tajik Movies</a></li>
                                    <li><a href="{% url 'movie_list' %}?origin=TR">Turkish Movies</a></li>
                                    <li><a href="{% url 'movie_list' %}?origin=RU">Russian Movies</a></li>
                                    <li class="it-last"><a href="{% url 'movie_list' %}?origin=US">English Movies</a></li>
                                </ul>
                            </li>
                            <li class="dropdown first">
                                <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                                categories <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu level1">
                                    {% for g in genres_context %}
                                    <li><a href="{% url 'movie_list' %}?genres={{ g.id }}">{{ g.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% comment %}
                            <!--<li class="dropdown first">
                                <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                                news <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu level1">
                                    <li><a href="bloglist.html">blog List</a></li>
                                    <li><a href="bloggrid.html">blog Grid</a></li>
                                    <li class="it-last"><a href="blogdetail.html">blog Detail</a></li>
                                </ul>
                            </li>-->
                            <!--<li class="dropdown first">
                                <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                                community <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu level1">
                                    <li><a href="userfavoritegrid.html">user favorite grid</a></li>
                                    <li><a href="userfavoritelist.html">user favorite list</a></li>
                                    <li><a href="userprofile.html">user profile</a></li>
                                    <li class="it-last"><a href="userrate.html">user rate</a></li>
                                </ul>
                            </li>-->
                            {% endcomment %}
                        </ul>
                        <ul class="nav navbar-nav flex-child-menu menu-right">
                            {% if user.is_authenticated %}
                                <li class="dropdown first">
                                    <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                                    profile <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu level1">
                                        {% if user.is_staff %}
                                            <li><a href="{% url 'admin:index' %}">admin page</a></li>
                                        {% endif %}
                                        <li><a href="{% url "profile_view" %}">Profile</a></li>
                                        <li><a href="#">Favorite Movies</a></li>
                                        <li class="it-last"><a href="{% url 'account_logout' %}">Log Out <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                                    </ul>
                                </li>
                                <a href="{% url "profile_view" %}">
                                    <span class="logged-in-user">
                                        {% for profile in user_profile_context %}
                                            {% if profile.user.username == user.username %}
                                                {% if profile.avatar %}
                                                    <div class="round-image-container">
                                                        <div class="rounded-image" style="background-image: url('{{ profile.avatar.url }}');"></div>
                                                    </div>
                                                {% else %}
                                                    <div class="round-image-container">
                                                        <div class="rounded-image" style="background-image: url('{% static "images/userdefault.jpg" %}');"></div>
                                                    </div>
                                                {% endif %}
                                                <div class="user-profile">{{ profile.user.username }} </div>
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                </a>
                            {% else %}
                            {% comment %}
                            <!--<li class="dropdown first">
                                <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                                pages <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu level1">
                                    <li><a href="landing.html">Landing</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                    <li class="it-last"><a href="comingsoon.html">Coming soon</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Help</a></li>-->
                            {% endcomment %}
                                <li class="loginLink"><a href="#">LOG In</a></li>
                                <li class="btn"><a href="{% url 'account_signup' %}">sign up</a></li>
                            {% endif %}
                        </ul>
                    </div>
                <!-- /.navbar-collapse -->
            </nav>
            <!-- search form -->
            <form method="get" action="{% url 'search_results' %}">
                <div class="top-search">
                    <select name="search-for">
                        <option value="movies" {% if search_option == "movies" %}selected{% endif %}>Movies</option>
                        <option value="tv-series" {% if search_option == "tv-series" %}selected{% endif %}>TV Series</option>
                    </select>
                    <input name="search" type="text" value="{{ search_query }}" placeholder="Search for a movie or TV show" pattern=".{3,}" title="Please enter at least 3 characters">
                    <input type="submit" value="Search">
                </div>
            </form>
            </div>

    </header>
    <!-- END | Header -->