{% extends 'head.html' %}
{% block head_title %}{{ user.username }} PROFILE {% endblock %}
{% load static %}
{% block content %}

    <div class="hero user-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1>{% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}’s profile</h1>
                        <ul class="breadcumb">
                            <li class="active"><a href="{% url "home" %}">Home</a></li>
                            <li> <span class="ion-ios-arrow-right"></span>Profile</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-single">
        <div class="container">
            <div class="row ipad-width">
                {% include 'account/user_sidebar.html' %}
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="form-style-1 user-pro" action="#">
                        <form action="#" class="user">
                            <h4>Profile details</h4>
                            <div class="row">
                                <div class="col-md-6 form-it">
                                    <label>Username</label>
                                    <input style="color: black; font-size: 24px; font-weight: bold" type="text" value="{{ user.username }}" readonly>
                                </div>
                                <div class="col-md-6 form-it">
                                    <label>Email Address</label>
                                    <input style="color: black; font-size: 24px; font-weight: bold" type="text" value="{{ user.email }}" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-it">
                                    <label>First Name</label>
                                    <input style="color: black; font-size: 24px; font-weight: bold" type="text" value="{{ user.first_name }}" readonly>
                                </div>
                                <div class="col-md-6 form-it">
                                    <label>Last Name</label>
                                    <input style="color: black; font-size: 24px; font-weight: bold" type="text" value="{{ user.last_name }}" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-it">
                                    <label>Country</label>
                                    <input style="color: black; font-size: 24px; font-weight: bold" type="text" value="{{ profile.country.name }}" readonly>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}