{% extends "head.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}


{% block content %}
    <div class="hero user-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1>{% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}’s profile</h1>
                        <ul class="breadcumb">
                            <li class="active"><a href="{% url "home" %}">Home</a></li>
                            <li><a href="{% url "profile_view" %}"><span class="active ion-ios-arrow-right"></span>Profile</a></li>
                            <li> <span class="ion-ios-arrow-right"></span>Change Password</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-single">
        <div class="container">
            <div class="row ipad-width">
                {% include 'account/user_sidebar.html' %}
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="form-style-1 user-pro">
                        <h4>{% trans "Change Password" %}</h4>

                        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% comment %}
                            <div class="row">
                                <div class="col-md-6 form-it">
                                    <label>Old Password</label>
                                    <input type="text" placeholder="**********">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-it">
                                    <label>New Password</label>
                                    <input type="text" placeholder="***************">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-it">
                                    <label>Confirm New Password</label>
                                    <input type="text" placeholder="*************** ">
                                </div>
                            </div>
                            {% endcomment %}
                            <div class="row">
                                <div style="width: 24%" class="col-md-2">
                                    <input name="action" class="submit" type="submit" value="{% trans "Change Password" %}">
                                </div>
                            </div>
                            {% comment %}<button type="submit" name="action">{% trans "Change Password" %}</button>{% endcomment %}
                            <a style="color: #ffdddd;" onmouseover="this.style.color='red';" onmouseout="this.style.color='#ffdddd';"
                                    href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
