{% extends "head.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="hero user-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1>PASSWORD RESET</h1>
                        <ul class="breadcumb">
                            <li class="active"><a href="{% url "home" %}">Home</a></li>
                            <li> <span class="ion-ios-arrow-right"></span>Password Reset</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-single">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-9 col-sm-12 col-xs-12" style="width: 100%">
                    <div class="form-style-1 user-pro">
                        <h4>{% trans "Password Reset" %}</h4>
                        {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                        <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
