{% load i18n %}
{% load static %}
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="user-information">
                        <div class="user-img">
                            {% for profile in user_profile_context %}
                                {% if profile.user.username == user.username %}
                                    {% if profile.avatar %}
                                        <a class="img-lightbox"  data-fancybox-group="gallery" href="{{ profile.avatar.url }}">
                                            <img src="{{ profile.avatar.url }}" alt="Profile Avatar"><br>
                                        </a>
                                    {% else %}
                                        <img src="{% static "images/userdefault.jpg" %}" alt="Profile Avatar"><br>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <a href="{% url 'update_profile' %}" class="redbtn">Change avatar</a>
                        </div>
                        <div class="user-fav">
                            <p>Account Details</p>
                            <ul>
                                <li {% if request.resolver_match.view_name == 'profile_view' %}class="active"{% endif %}>
                                    <a href="{% url 'profile_view' %}">Profile</a>
                                </li>
                                <li {% if request.resolver_match.view_name == 'favorite_movies_view' %}class="active"{% endif %}>
                                    <a href="{% url 'favorite_movies_view' %}">Favorite movies</a>
                                </li>
                                {% comment %}<li><a href="userrate.html">Rated movies</a></li>{% endcomment %}
                            </ul>
                        </div>
                        <div class="user-fav">
                            <p>Others</p>
                            <ul>
                                <li {% if request.resolver_match.view_name == 'update_profile' %}class="active"{% endif %}>
                                    <a href="{% url 'update_profile' %}">Update Profile</a>
                                </li>
                                <li {% if request.resolver_match.view_name == 'account_email' %}class="active"{% endif %}>
                                    <a href="{% url 'account_email' %}">{% trans "E-mail Addresses" %}</a>
                                </li>
                                <li {% if request.resolver_match.view_name == 'account_change_password' %}class="active"{% endif %}>
                                    <a href="{% url 'account_change_password' %}">Change password</a>
                                </li>
                                <li><a href="{% url 'account_logout' %}">Log out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>